@if (draws$ | async; as data) { @for (draw of data; track $index) {

<div class="row">
  <div class="row__header">{{ draw.Numer }}</div>
  <div class="row__header">{{ draw.Dzien }}</div>
  <div class="row__header">{{ draw.Miesiac }}</div>
  <div class="row__header">{{ draw.Rok }}</div>

  @for (i of arr; track $index) {
  <!-- <div
    class="item"
    [ngClass]="{ 'item--white': checkNumber($index + 1, [draw.L1,draw.L2,draw.L3,draw.L4,draw.L5,draw.L6,draw.L7,draw.L8,draw.L9,draw.L10,draw.L11,draw.L12,draw.L13,draw.L14,draw.L15,draw.L16,draw.L17,draw.L18,draw.L19,draw.L20])}"
  > -->
  <div class="item" [ngClass]="{ 'item--white': checkNumber($index + 1, [draw.L1, draw.L2, draw.L3, draw.L4, draw.L5]) }">
    {{ $index + 1 }}
  </div>
  }
</div>
}}
