/* You can add global styles to this file, and also import other style files */

#host {
  padding: 1.5em;
  background-color: lightgoldenrodyellow;
  border-left: solid 0.5em yellow;
}

div.header {
  display: table-cell;
  font-size: 0.6em;
}

div.square {
  display: table-cell;
  width: 10px;
  height: 10px;
  border: solid 1px lightgrey;
}

div.win {
  background-color: red;
}
  