/* You can add global styles to this file, and also import other style files */
.square {
  height: 23px;
  background-color: lightgrey;
}

div.win {
  background-color: red;
}

div.header {
  font-size: 0.3em;
}

/* #host {
  padding: 1.5em;
  background-color: lightgoldenrodyellow;
  border-left: solid 0.5em yellow;
}

div.square {
  display: table-cell;
  width: 10px;
  height: 10px;
  border: solid 1px lightgrey;
}
   */
   