<form (ngSubmit)="checkDraws()">
  <input type="number" [(ngModel)]="lots.number0" name="num0" min="1" max="80"> 
  <input type="number" [(ngModel)]="lots.number1" name="num1" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number2" name="num2" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number3" name="num3" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number4" name="num4" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number5" name="num5" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number6" name="num6" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number7" name="num7" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number8" name="num8" min="1" max="80">
  <input type="number" [(ngModel)]="lots.number9" name="num9" min="1" max="80">
  <input type="submit" value="Check">
</form>
