<div class="panel panel-info">
  <div class="panel-heading">
        <h3 class="panel-title">Check numbers:</h3>         
  </div>
    <div class="panel-body">
      <form (ngSubmit)="checkDraws()">
        <input type="text" [(ngModel)]="num0" name="num0">
        <input type="text" [(ngModel)]="num1" name="num1">
        <input type="text" [(ngModel)]="num2" name="num2">
        <input type="text" [(ngModel)]="num3" name="num3">
        <input type="text" [(ngModel)]="num4" name="num4">
        <input type="text" [(ngModel)]="num5" name="num5">
        <input type="text" [(ngModel)]="num6" name="num6">
        <input type="text" [(ngModel)]="num7" name="num7">
        <input type="text" [(ngModel)]="num8" name="num8">
        <input type="text" [(ngModel)]="num9" name="num9">
        <input type="submit" value="Check">
      </form>
      
  </div>
</div>
