<nav class="navbar navbar-light bg-warning fixed-top">

    <a class="navbar-brand" routerLink="">
        <fa-icon [icon]="faChartBar"></fa-icon> 
        <span class="logo">MultiMulti Analyser</span>
    </a>


    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About the App</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="author">Author</a>
        </li>
    </ul>

    <span class="navbar-text">
            <fa-icon [icon]="faTrophy" class="trophy"></fa-icon>
            <app-notification-label *ngIf="notify" [notificationValue]="notificationValue"></app-notification-label>
    </span>
</nav>
